In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

pd.set_option('display.width', None)

df = pd.read_csv('clientes-v2-tratados.csv')

print(df.head())

# Codificação one-hot para 'estado_civil'
df = pd.concat([df, pd.get_dummies(df['estado_civil'], prefix='estado_civil')], axis=1)

print("\nDataFrame após codificação one-hot para 'estado_civil':\n", df.head())

# Codificação ordinal para 'nivel_educacao'
educacao_ordem = {'Ensino Fundamental': 1, 'Ensino Médio': 2, 'Ensino Superior': 3, 'Pós-graduação': 4}
df['nivel_educacao_ordinal'] = df['nivel_educacao'].map(educacao_ordem)

print("\nDataFrame após codificação ordinal para 'nivel_educacao':\n", df.head())

# Transformar 'area_atuacao' em categorias codificadas usando o método .cat.codes
df['area_atuacao_cod'] = df['area_atuacao'].astype('category').cat.codes

print("\nDataFrame após transformar 'area_atuacao' em códigos numéricos:\n", df.head())

# LabelEncoder para aplicar em 'estado'
# LablEcncoder converte cada valor único em numeros de o a N_classes-1
label_encoder = LabelEncoder()
df['estado'] = label_encoder.fit_transform(df['estado'])

print("\nDataFrame após aplicar LabelEncoder em 'estado':\n", df.head())

   idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao
0              0       Casado   Tecnologia
1              3       Casado    Indústria
2              0       Casado   Tecnologia
3              1     Solteiro     Comércio
4              1       Casado   Tecnologia

DataFrame após codificação one-hot para 'estado_civil':
    idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao  estado_civil_Casado  \
0              0       Casado   Tecnologia                 True
1              3       Casado    Indústria                 True
2              0       Casado   Tecnologia                 True
3              1     Solteiro     Comércio                False
4              1       Casado   Tecnologia                 True

   estado_civil_Divorciado  estado_civil_Solteiro  estado_civil_Viúvo
0                    False                  False               False
1                    False                  False               False
2                    False                  False               False
3                    False                   True               False
4                    False                  False               False

DataFrame após codificação ordinal para 'nivel_educacao':
    idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao  estado_civil_Casado  \
0              0       Casado   Tecnologia                 True
1              3       Casado    Indústria                 True
2              0       Casado   Tecnologia                 True
3              1     Solteiro     Comércio                False
4              1       Casado   Tecnologia                 True

   estado_civil_Divorciado  estado_civil_Solteiro  estado_civil_Viúvo  \
0                    False                  False               False
1                    False                  False               False
2                    False                  False               False
3                    False                   True               False
4                    False                  False               False

   nivel_educacao_ordinal
0                       2
1                       2
2                       2
3                       1
4                       2

DataFrame após transformar 'area_atuacao' em códigos numéricos:
    idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao  estado_civil_Casado  \
0              0       Casado   Tecnologia                 True
1              3       Casado    Indústria                 True
2              0       Casado   Tecnologia                 True
3              1     Solteiro     Comércio                False
4              1       Casado   Tecnologia                 True

   estado_civil_Divorciado  estado_civil_Solteiro  estado_civil_Viúvo  \
0                    False                  False               False
1                    False                  False               False
2                    False                  False               False
3                    False                   True               False
4                    False                  False               False

   nivel_educacao_ordinal  area_atuacao_cod
0                       2                 4
1                       2                 2
2                       2                 4
3                       1                 0
4                       2                 4

DataFrame após aplicar LabelEncoder em 'estado':
    idade        data  estado   salario      nivel_educacao  numero_filhos  \
0     56  1968-01-19      15  13550.54        Ensino Médio              0
1     49  1975-01-31      18   3124.72        Ensino Médio              3
2     54  1969-08-26      12   7534.60        Ensino Médio              0
3     61  1963-03-19       2   4067.73  Ensino Fundamental              1
4     30  1993-12-09       1   6809.94        Ensino Médio              1

  estado_civil area_atuacao  estado_civil_Casado  estado_civil_Divorciado  \
0       Casado   Tecnologia                 True                    False
1       Casado    Indústria                 True                    False
2       Casado   Tecnologia                 True                    False
3     Solteiro     Comércio                False                    False
4       Casado   Tecnologia                 True                    False

   estado_civil_Solteiro  estado_civil_Viúvo  nivel_educacao_ordinal  \
0                  False               False                       2
1                  False               False                       2
2                  False               False                       2
3                   True               False                       1
4                  False               False                       2

   area_atuacao_cod
0                 4
1                 2
2                 4
3                 0
4                 4