In [1]:
import pandas as pd
import numpy as np
from scipy import stats

pd.set_option('display.width', None)

df = pd.read_csv('clientes-v2-tratados.csv')

print(df.head())

# Transformação Logarítmica
df['salario_log'] = np.log1p(df['salario'])  # log1p é usado para evitar problemas com valores zero

print("\nDataFrame após transformação logarítmica no 'salario':\n", df.head())

# Transformação Box-Cox
df['salario_boxcox'], _ = stats.boxcox(df['salario'] + 1)

print("\nDataFrame após transformação Box-Cox no 'salario':\n", df.head())

# Codificação de Frequência para 'estado'
estado_freq = df['estado'].value_counts() / len(df)
df['estado_freq'] = df['estado'].map(estado_freq)

print("\nDataFrame após codificação de frequência para 'estado':\n", df.head())

# Interações
df['interacao_idade_filhos'] = df['idade'] * df['numero_filhos']

print("\nDataFrame após criação de interações entre 'idade' e 'numero_filhos':\n", df.head())

   idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao
0              0       Casado   Tecnologia
1              3       Casado    Indústria
2              0       Casado   Tecnologia
3              1     Solteiro     Comércio
4              1       Casado   Tecnologia

DataFrame após transformação logarítmica no 'salario':
    idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao  salario_log
0              0       Casado   Tecnologia     9.514255
1              3       Casado    Indústria     8.047420
2              0       Casado   Tecnologia     8.927394
3              1     Solteiro     Comércio     8.311086
4              1       Casado   Tecnologia     8.826285

DataFrame após transformação Box-Cox no 'salario':
    idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao  salario_log  salario_boxcox
0              0       Casado   Tecnologia     9.514255       10.182574
1              3       Casado    Indústria     8.047420        8.522195
2              0       Casado   Tecnologia     8.927394        9.514150
3              1     Solteiro     Comércio     8.311086        8.818123
4              1       Casado   Tecnologia     8.826285        9.399548

DataFrame após codificação de frequência para 'estado':
    idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao  salario_log  salario_boxcox  \
0              0       Casado   Tecnologia     9.514255       10.182574
1              3       Casado    Indústria     8.047420        8.522195
2              0       Casado   Tecnologia     8.927394        9.514150
3              1     Solteiro     Comércio     8.311086        8.818123
4              1       Casado   Tecnologia     8.826285        9.399548

   estado_freq
0     0.038127
1     0.037316
2     0.036737
3     0.036968
4     0.032796

DataFrame após criação de interações entre 'idade' e 'numero_filhos':
    idade        data               estado   salario      nivel_educacao  \
0     56  1968-01-19                 Pará  13550.54        Ensino Médio
1     49  1975-01-31  Rio Grande do Norte   3124.72        Ensino Médio
2     54  1969-08-26         Minas Gerais   7534.60        Ensino Médio
3     61  1963-03-19                Amapá   4067.73  Ensino Fundamental
4     30  1993-12-09              Alagoas   6809.94        Ensino Médio

   numero_filhos estado_civil area_atuacao  salario_log  salario_boxcox  \
0              0       Casado   Tecnologia     9.514255       10.182574
1              3       Casado    Indústria     8.047420        8.522195
2              0       Casado   Tecnologia     8.927394        9.514150
3              1     Solteiro     Comércio     8.311086        8.818123
4              1       Casado   Tecnologia     8.826285        9.399548

   estado_freq  interacao_idade_filhos
0     0.038127                       0
1     0.037316                     147
2     0.036737                       0
3     0.036968                      61
4     0.032796                      30